@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap");

* {
  margin: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html {
  font-size: 18px;
}

body {
  background-color: #f1f1f1;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  padding-left: 60px;
  align-content: space-between;
}

.col-2 {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  background: linear-gradient(180deg, #000 0%, #1a1a1a 100%);
  color: #fff;
  padding-left: 40px;
  border-radius: 0 0 4px;
}

.col-2 li:nth-child(even) {
  background-color: #343434;
}

.col-2 a {
  color: #fff;
  border-color: #fff;
  grid-column: 2;
}

.col-2 p:nth-child(1) {
  grid-column: 1;
  align-self: flex-end;
}

.col-2 span {
  color: #eb5500;
  display: block;
}

.col-2 li {
  justify-content: start;
  gap: 12px;
}

.resultado-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  row-gap: 16px;
  max-width: 550px;
  box-sizing: border-box;
}

ul,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul,
.ul {
  list-style: none;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}

li:nth-child(even) {
  background-color: #b6b6b6;
  border-radius: 3px;
}

h1 {
  padding: 40px 0px 40px 60px;
  background: linear-gradient(180deg, #262626 0%, #000 100%);
  font-family: "Urbanist", sans-serif;
  color: #fff;
  box-shadow: inset 0 0 2px black;
  position: relative;
  display: flex;
  align-items: end;
  gap: 20px;
}

h1::before {
  content: "";
  display: inline-block;
  height: 48px;
  width: 48px;
  background: url(./zayit.svg);
}

h2 {
  border-bottom: 2px solid #261200;
  padding: 20px 0 0 0;
}

input {
  width: 60px;
  height: 22px;
  font-size: 1rem;
  background-color: #010101;
  color: #fff;
  border-radius: 3px;
  border: none;
  padding: 4px 8px;
}

.item {
  position: relative;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.item input {
  width: 32px;
  height: 36px;
  line-height: 1.65;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 14px;
  border: 1px solid #eee;
}

.item input:focus {
  outline: 0;
}

.item-nav {
  float: left;
  position: relative;
  height: 42px;
}

.frete {
  display: flex;
  align-items: center;
}

.frete label {
  font-size: 1.5rem;
}

.frete input {
  border: 4px solid #261200;
}

a {
  text-decoration: none;
  color: #010101;
  padding: 8px 16px;
  border-bottom: 4px solid #010101;
}

a:hover {
  color: #b6b6b6;
  border-bottom: 4px solid #b6b6b6;
  transition: ease-in-out;
}

footer {
  display: flex;
  align-items: baseline;
  margin-left: 120px;
  margin-top: 40px;
  justify-content: end;
}

.ativar {
  opacity: 1;
  height: auto;
}

.esconder {
  display: none;
}
